# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [101]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [15]:
#your code
github= requests.get('https://github.com/trending/developers')

In [16]:
github.status_code

200

In [17]:
soup_github= BeautifulSoup(github.content)
#print (soup_github)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [22]:
#your code
developers= [texto.text.strip('\n ') for texto in soup_github.select('h1.h3.lh-condensed > a')]
developers

['Yair Morgenstern',
 'Rich Harris',
 'Tapas Adhikary',
 'Paul Bottein',
 'Florian Rival',
 'metonym',
 'George Hotz',
 'Milad akarie',
 'Emil Ernerfeldt',
 'David Sherret',
 'Brian Vaughn',
 'Maximilian Roos',
 'Andrew Kane',
 'Waldemar Hummer',
 'Zachary Mueller',
 'Jess Frazelle',
 'Suyeol Jeon',
 'Connor Ferster',
 '0xAX',
 'Eren Gölge',
 'Luong Vo',
 'Andy Stewart',
 'Leo',
 'Kyle Fuller',
 'Jonny Borges']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [36]:
#your code
repositories= requests.get('https://github.com/trending/python?since=daily')
soup_repos= BeautifulSoup(repositories.content)

lista_repos= [texto['href'].split('/')[-1] for texto in soup_repos.select('h1.h3.lh-condensed > a')]
lista_repos

['nuclei-templates',
 'nannyml',
 'TopFreeProxies',
 'freqtrade',
 'transformers',
 'linux-insides',
 'Python-100-Days',
 'reloadium',
 'CyberControllerServer',
 'core',
 'CleanMyWechat',
 'tutorials',
 'ungoogled-chromium',
 'PayloadsAllTheThings',
 'denoising-diffusion-pytorch',
 'public-apis',
 'scenic',
 'RsaCtfTool',
 'demucs',
 'YukkiMusicBot',
 'akshare',
 'gibMacOS',
 'archinstall',
 'proxy_pool',
 'accelerate']

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [44]:
#your code
disney= requests.get('https://en.wikipedia.org/wiki/Walt_Disney')
soup_disney=  BeautifulSoup(disney.content)

lista_linkdisney= [texto['href'].split(':')[-1] for texto in soup_disney.select('div.thumbinner > a.image')]
lista_linkdisney

['Walt_Disney_envelope_ca._1921.jpg',
 'Trolley_Troubles_poster.jpg',
 'Steamboat-willie.jpg',
 'Walt_Disney_1935.jpg',
 'Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'Disney_drawing_goofy.jpg',
 'DisneySchiphol1951.jpg',
 'WaltDisneyplansDisneylandDec1954.jpg',
 'Walt_disney_portrait_right.jpg',
 'Walt_Disney_Grave.JPG',
 'Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'Disney_Oscar_1953_(cropped).jpg',
 'Disney1968.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [58]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [81]:
#your code
python= requests.get('https://en.wikipedia.org/wiki/Python')
soup_python= BeautifulSoup(python.content)

links_python= [texto['href'] for texto in soup_python.select('div.mw-parser-output  ul > li > a ')]
links_python

['#Snakes',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/wiki/Cython',
 '/wiki/Pithon']

#### Number of Titles that have changed in the United States Code since its last release point

In [169]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [170]:
#your code
code= requests.get('http://uscode.house.gov/download/download.shtml')
soup_code= BeautifulSoup(code.content)

len(soup_code.select('div.usctitlechanged'))

2

#### A Python list with the top ten FBI's Most Wanted names

In [165]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [168]:
#your code 
fbi= requests.get('https://www.fbi.gov/wanted/topten')
soup_fbi= BeautifulSoup(fbi.content)
top_ten= [nombre.text for nombre in soup_fbi.select('h3.title > a')]
top_ten

['ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'OCTAVIANO JUAREZ-CORRO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [99]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [163]:
#your code

html = requests.get(url).content
df_list= pd.read_html(html)

df = df_list[-1]
df
df[['Date & Time UTC', 'Latitude degrees', 'Longitude degrees', 'Region name [+]']].head(20)

                       Date & Time UTC Latitude degrees                  \
                         12345678910»    12345678910» 12345678910».1
0       2022-05-15 23:23:49.726min ago            61.73               N
1       2022-05-15 23:04:44.045min ago            20.91               S
2   2022-05-15 22:31:37.01hr 18min ago             4.86               S
3   2022-05-15 22:13:46.61hr 36min ago            35.52               N
4   2022-05-15 22:11:49.01hr 38min ago            30.89               S
5   2022-05-15 22:02:02.01hr 48min ago             0.89               N
6   2022-05-15 21:50:00.02hr 00min ago            63.88               N
7   2022-05-15 21:49:56.72hr 00min ago            36.56               N
8   2022-05-15 21:15:41.02hr 34min ago             6.83               N
9   2022-05-15 21:13:25.22hr 36min ago            35.48               N
10  2022-05-15 21:12:17.02hr 37min ago            32.12               S
11  2022-05-15 21:03:42.02hr 46min ago             8.13               S
12  2022-05-15 20:59:18.02hr 50min ago             8.18               S
13  2022-05-15 20:55:13.02hr 54min ago             8.45               S
14  2022-05-15 20:26:10.33hr 23min ago            35.50               N
15  2022-05-15 20:21:09.03hr 28min ago            18.35               S
16  2022-05-15 20:18:05.03hr 31min ago            22.05               S
17  2022-05-15 20:14:34.03hr 35min ago            36.94               S
18  2022-05-15 19:56:00.03hr 54min ago            19.23               N
19  2022-05-15 19:54:19.03hr 55min ago            30.45               N

   Longitude degrees                 Region name [+]
       12345678910» 12345678910».1   12345678910»
0             150.80               W             3.1
1              69.12               W             3.1
2             102.85               E             3.3
3               3.74               W             1.8
4              65.30               W             3.0
5              98.74               E             3.0
6              22.56               W             3.2
7              28.55               E             3.7
8             127.62               E             3.7
9               3.78               W             1.8
10             68.59               W             3.2
11            107.88               E             2.7
12            107.87               E             2.8
13            121.27               E             2.9
14              3.74               W             2.0
15             69.37               W             3.6
16             68.89               W             2.6
17            177.64               E             3.1
18            155.39               W             2.1
19            114.02               W             4.2

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [155]:
# This is the url you will scrape in this exercise
url ='https://mlh.io/seasons/na-2020/events'

In [156]:
#your code
event_page=requests.get(url)
soup_event=BeautifulSoup(event_page.content)
soup_event.select('div.row > div.event')[0].text.strip(' \n').split('\n')
row = [x.text.strip(' \n').split('\n') for x in soup_event.select('div.row > div.event')]
row[0]
data = row
df = pd.DataFrame(data)
df.head()
df_edit = df[[0,1,5,6]]
df_edit.rename(columns = {0 : 'Title', 1 : 'Date - Days', 5 : 'City', 6 : 'Country'}).head(25)

,Title,Date - Days,City,Country
0,HackMTY,Aug 24th - 25th,"Monterrey,",MX
1,Citizen Hacks,Sep 6th - 8th,"Toronto,",ON
2,PennApps,Sep 6th - 8th,"Philadelphia,",PA
3,Hackathon de Futuras Tecnologías,Sep 7th - 8th,"Torreón,",MX
4,Hack the North,Sep 13th - 15th,"Waterloo,",ON
5,HopHacks,Sep 13th - 15th,"Baltimore,",MD
6,BigRed//Hacks,Sep 20th - 22nd,"Ithaca,",NY
7,HackRice,Sep 20th - 21st,"Houston,",TX
8,SBUHacks,Sep 20th - 21st,"Stony Brook,",NY
9,ShellHacks,Sep 20th - 22nd,"Miami,",FL
10,sunhacks,Sep 20th - 22nd,"Tempe,",AZ
11,Kent Hack Enough,Sep 27th - 29th,"Kent,",OH
12,MedHacks,Sep 27th - 29th,"Baltimore,",MD
13,VolHacks,Sep 27th - 29th,"Knoxville,",TN
14,GirlHacks,Sep 28th - 29th,"Newark,",NJ
15,GrizzHacks 4,Sep 28th - 29th,"Rochester,",MI
16,hackNY,Sep 28th - 29th,"New York City,",NY
17,HackUMBC,Sep 28th - 29th,"Baltimore,",MD
18,RamHacks,Sep 28th - 29th,"Richmond,",VA
19,HackTheU,Oct 5th - 6th,"Salt Lake City,",UT
20,MHacks,Oct 11th - 13th,"Ann Arbor,",MI
21,Polyhack,Oct 11th - 12th,"Somerville,",MA
22,The Pitt Challenge,Oct 11th - 12th,"Pittsburgh,",PA
23,Dubhacks,Oct 12th - 13th,"Seattle,",WA
24,HackNC,Oct 12th - 13th,"Chapel Hill,",NC

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [171]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [203]:
#your code

html = requests.get(url).content
soup_lan = BeautifulSoup(html, "html.parser")
list_lan = soup_lan.find_all('a', {'class' : 'link-box'})
for x in list_lan:
    print(x.get_text())

English
6 458 000+ articles


日本語
1 314 000+ 記事


Русский
1 798 000+ статей


Español
1 755 000+ artículos


Deutsch
2 667 000+ Artikel


Français
2 400 000+ articles


Italiano
1 742 000+ voci


中文
1 256 000+ 条目 / 條目


Português
1 085 000+ artigos


Polski
1 512 000+ haseł

#### A list with the different kind of datasets available in data.gov.uk

In [205]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [210]:
#your code 
html = requests.get(url).content
soup_datasets = BeautifulSoup(html, "lxml")
list_datasets= [texto.text for texto in soup_datasets.select('h3 > a.govuk-link')]
list_datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [224]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [238]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

table = soup.find_all('table',{'class':'wikitable sortable'})[0]
rows = table.find_all('tr')
rows = [row.text.strip().split("\n") for row in rows]
colnames = rows[0]
data = rows[1:]

df = pd.DataFrame(data, columns=colnames)
df[['Language', 'Native Speakers(millions)']].head(10)

                              Language Native Speakers(millions)
0                     Mandarin Chinese                     929.0
1                              Spanish                     474.7
2                              English                     372.9
3  Hindi (sanskritised Hindustani)[11]                     343.9
4                              Bengali                     233.7
5                           Portuguese                     232.4
6                              Russian                     154.0
7                             Japanese                     125.3
8                  Western Punjabi[12]                      92.7
9                          Yue Chinese                      85.2

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code